
.img-ctc{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   margin: 10px;
}
.img-b3{
    width: 20%;
    height: 20%;
}
h1{
    font-family: lato;
    font-weight: 700;
    text-align: center;
}